* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
*:before, *:after {
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
	background: #81F4E1;
}
header {
	width: 100%;
	padding: 15px 0;
	background: #ff33bb;
}
header h1 {
	width: 800px;
	color: #fff;
	margin: 15px auto;
	text-align: center;
}
h2 {
	text-align: center;
}
.wrapper {
	width: 800px;
	margin: 30px auto 0;
}
.project-list {
	width: 50%;
	float: left;

}
.projects {
	margin-top: 10%;
}
.projects li {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
.add-project {
	width: 50%;
	float: right;
}
.add-project h2 {
	margin-top: 0;
}
.add-project p {
	text-align: center;
	padding: 10px;
}
ul {
	/*remove dots and indent on list*/
	margin: 0; 
	padding: 0;
	list-style: none;
	list-style-type: none;
}
li {
	width: 440px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #ccc;
	margin-bottom: 3px;
}
select {
    padding: 2.5%;
}
#colorChanger {
	font-size: 16px;
	margin: 5%;
}
input {
	font-size: 16px;
	width: 50%;
	padding: 2.5%;
	border: 1px solid #ccc;
	margin: 5%;
	margin-top: 10%;
}
button {
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	height: 100%;
	width: 50%;
	color: #fff;
	border: 2px solid white;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 5%;
	display: block; /*important*/
	background: #ff33bb;
}
.delete {
	font-size: 16px;
	text-align: center;
	padding: 10px;
	height: 100%;
	width: 50%;
	border: 2px solid white;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	background: #ff0000;
}
.over {
	border: 1px dashed #000;
}
.vanilla {
	background-color: #ffffcc;
}
.chocolate {
	background-image: url('http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/sponsored_programs/r_fit/kids/content_images/fitkids_quiz_icecreamquiz_w1.jpg');
}
.strawberry {
	background-color: #ff6666;
}
.cherry {
	background-color: #ff3333;
}
.pistachio {
	background-color: #ccffcc;
}
.mint {
	background-color: #80ff80;
}
.oreo {
	background-color: white;
}
.pralines {
	background-color: #cc7a00;
}
.butterscotch {
	background-color: #995c00;
}
.rum {
	background-color: #bf8040;
}
.cone {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 7vw solid transparent;
  border-right: 7vw solid transparent;
  border-top: 14vw solid #DDBB74;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.circle {
	border-radius: 50%;
	width: 10vw;
	height: 10vw;
	z-index: 0;
	margin: -10% auto;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-width {
	width: 100%;
	float: none;
	}
	h2 {
    font-size: 300%;
	}
	button, .delete {
	font-size: 200%;	
	}
	.cone {
  	border-left: 14vw solid transparent;
  	border-right: 14vw solid transparent;
  	border-top: 28vw solid #DDBB74;
	}
	.circle {
	width: 20vw;
	height: 20vw;
	}
	.projects li, input {
		font-size: 22px;
	}
	#colorChanger {
    font-size: 34px;
    border: 2px;
	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-width {
	width: 100%;
	float: none;
	}
	h2 {
    font-size: 300%;
	}
	button, .delete {
	font-size: 200%;	
	}
	.cone {
  	border-left: 14vw solid transparent;
  	border-right: 14vw solid transparent;
  	border-top: 28vw solid #DDBB74;
	}
	.circle {
	width: 20vw;
	height: 20vw;
	}
	.projects li, input {
		font-size: 22px;
	}
	#colorChanger {
    font-size: 34px;
    border: 2px;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	.add-project {
	width: 100%;
	float: none;
	}
	h2 {
    font-size: 300%;
	}
	.project-list {
	width: 100%;
	float: none;
	}
	button, .delete {
	font-size: 200%;	
	}
	.cone {
  	border-left: 14vw solid transparent;
  	border-right: 14vw solid transparent;
  	border-top: 28vw solid #DDBB74;
	}
	.circle {
	width: 20vw;
	height: 20vw;
	}
	.projects li, input {
		font-size: 22px;
	}
	#colorChanger {
    font-size: 34px;
    border: 2px;
	}

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}
	h2 {
    font-size: 300%;
	}
	button, .delete {
	font-size: 200%;	
	}
	.cone {
  	border-left: 14vw solid transparent;
  	border-right: 14vw solid transparent;
  	border-top: 28vw solid #DDBB74;
	}
	.circle {
	width: 20vw;
	height: 20vw;
	}
	.projects li, input {
		font-size: 22px;
	}
	#colorChanger {
    font-size: 34px;
    border: 2px;
	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}
	h2 {
    font-size: 300%;
	}
	button, .delete {
	font-size: 200%;	
	}
	.cone {
  	border-left: 14vw solid transparent;
  	border-right: 14vw solid transparent;
  	border-top: 28vw solid #DDBB74;
	}
	.circle {
	width: 20vw;
	height: 20vw;
	}
	.projects li, input {
		font-size: 22px;
	}
	#colorChanger {
    font-size: 34px;
    border: 2px;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}
	h2 {
    font-size: 300%;
	}
	button, .delete {
	font-size: 200%;	
	}
	.cone {
  	border-left: 14vw solid transparent;
  	border-right: 14vw solid transparent;
  	border-top: 28vw solid #DDBB74;
	}
	.circle {
	width: 20vw;
	height: 20vw;
	}
	.projects li, input {
		font-size: 22px;
	}
	#colorChanger {
    font-size: 34px;
    border: 2px;
	}

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}
	h2 {
    font-size: 300%;
	}
	button, .delete {
	font-size: 200%;	
	}
	.cone {
  	border-left: 14vw solid transparent;
  	border-right: 14vw solid transparent;
  	border-top: 28vw solid #DDBB74;
	}
	.circle {
	width: 20vw;
	height: 20vw;
	}
	.projects li, input {
		font-size: 22px;
	}
	#colorChanger {
    font-size: 34px;
    border: 2px;
	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}
	h2 {
    font-size: 300%;
	}
	button, .delete {
	font-size: 200%;	
	}
	.cone {
  	border-left: 14vw solid transparent;
  	border-right: 14vw solid transparent;
  	border-top: 28vw solid #DDBB74;
	}
	.circle {
	width: 20vw;
	height: 20vw;
	}
	.projects li, input {
		font-size: 22px;
	}
	#colorChanger {
    font-size: 34px;
    border: 2px;
	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}
	h2 {
    font-size: 300%;
	}
	button, .delete {
	font-size: 200%;	
	}
	.cone {
  	border-left: 14vw solid transparent;
  	border-right: 14vw solid transparent;
  	border-top: 28vw solid #DDBB74;
	}
	.circle {
	width: 20vw;
	height: 20vw;
	}
	.projects li, input {
		font-size: 22px;
	}
	#colorChanger {
    font-size: 34px;
    border: 2px;
	}

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}
	h2 {
    font-size: 300%;
	}
	button, .delete {
	font-size: 200%;	
	}
	.cone {
  	border-left: 14vw solid transparent;
  	border-right: 14vw solid transparent;
  	border-top: 28vw solid #DDBB74;
	}
	.circle {
	width: 20vw;
	height: 20vw;
	}
	.projects li, input {
		font-size: 22px;
	}
	#colorChanger {
    font-size: 34px;
    border: 2px;
	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}
	h2 {
    font-size: 300%;
	}
	button, .delete {
	font-size: 200%;	
	}
	.cone {
  	border-left: 14vw solid transparent;
  	border-right: 14vw solid transparent;
  	border-top: 28vw solid #DDBB74;
	}
	.circle {
	width: 20vw;
	height: 20vw;
	}
	.projects li, input {
		font-size: 22px;
	}
	#colorChanger {
    font-size: 34px;
    border: 2px;
	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}
	h2 {
    font-size: 300%;
	} 
	button, .delete {
	font-size: 200%;	
	}
	.cone {
  	border-left: 14vw solid transparent;
  	border-right: 14vw solid transparent;
  	border-top: 28vw solid #DDBB74;
	}
	.circle {
	width: 20vw;
	height: 20vw;
	}
	.projects li, input {
		font-size: 22px;
	}
	#colorChanger {
    font-size: 34px;
    border: 2px;
	}

}
