*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
*:before, *:after{
	box-sizing: border-box;
}
html, body{
	min-height: 100%;
}
body {
	background: #81F4E1;
}
header {
	width: 100%;
	padding: 15px 0;
	background: #ff33bb;
}
header h1 {
	width: 800px;
	color: #fff;
	margin: 15px auto;
	text-align: center;
}
h2 {
	text-align: center;
}
.wrapper {
	width: 800px;
	margin: 30px auto 0;
}
.project-list {
	width: 50%;
	float: left;

}
.projects li {
	text-align: center;
}
.add-project {
	width: 50%;
	float: right;
}
.add-project h2 {
	margin-top: 0;
}
.add-project p {
	text-align: center;
	padding: 10px;
}
.add-project button {
	text-align: center;
	padding: 10px;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	width: 440px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #ccc;
	margin-bottom: 3px;
}
input {
	width: 250px;
	padding: 5px 7px;
	border: 1px solid #ccc;
}
button {
	color: #fff;
	background: #ff33bb;
	border: 0;
	padding: 10px;
	cursor: pointer;
	margin: 0 auto;
	width: 50%;
	border: 2px solid white;
	display: block;
}
button:active {
	margin: 1px 0 0 1px;
}
.over {
	border: 1px dashed #000;
}
.delete {
	height: 100%;
	width: 50%;
	margin: 0 auto;
	border: 2px solid white;
	margin-top: 5%;
	text-align: center;
	background-color: #ff0000;
}
.vanilla {
	background-color: #ffffcc;
}
.chocolate {
	background-color: #804000;
}
.strawberry {
	background-color: #ff6666;
}
.cherry {
	background-color: #ff3333;
}
.pistachio {
	background-color: #ccffcc;
}
.mint {
	background-color: #80ff80;
}
.oreo {
	background-color: white;
}
.pralines {
	background-color: #cc7a00;
}
.butterscotch {
	background-color: #995c00;
}
.rum {
	background-color: #bf8040;
}
.cone {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 7vw solid transparent;
  border-right: 7vw solid transparent;
  border-top: 14vw solid #DDBB74;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.circle {
	border-radius: 50%;
	width: 10vw;
	height: 10vw;
	z-index: 0;
	margin: 0 auto;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-width {
	width: 100%;
	float: none;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-width {
	width: 100%;
	float: none;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  	.add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .add-project {
	width: 100%;
	float: none;
	}
	.project-list {
	width: 100%;
	float: none;
	} 

}
